page-home {

}

.ls-fixed-page {
	width: 100%;
	height: 100vh;
	background: white;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
}

.ls-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: white;
	height: 60px;
	z-index: 1000;
}

.ls-header__back,
.ls-header__addSession
 {
	position: relative;
	margin-top: 18px;
	margin-left: 3px;
	width: 24px;
	height: 24px;
	display: inline-block;
	background: white;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.ls-header__addSession {
	background: url(../../assets/imgs/plus.png);
}

.ls-header__back {
	background: url(../../assets/imgs/back.png);
}

.ls-header__settings {
	position: fixed;
	top: 18px;
	right: 20px;
	width: 24px;
	height: 24px;
	display: inline-block;
	background: white;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background: url(../../assets/imgs/settings.png);
}

.ls-header__title {
	position: absolute;
	display: inline-block;
	margin: 0;
	top: 20px;
	left: 65px;
	height: 24px;
	background: white;
	text-align: top;
	padding: 0;
	font-size: 18px;
}

.ls-body {
	position: fixed;
	top: 20px;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: white;
}

.logo-container {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	display: inline-block;
	background: white;
	z-index: 1;
}

.ls-title {
	top: -60px;
	display: block;
	position: relative;
	text-align: center;
	vertical-align: center;
	padding: 5px;
}

.sign-in-form {
	display: inline-block;
	position: relative;
	background: white;
	top: -60px;
	width: 100%;
	padding: 15px;
	z-index: 2;
}

.ls-text-input {
	display: inline-block;
	width: 100%;
	height: 24px;
	border: 1px solid black;
	box-shadow: 1px 1px 2px black;
	margin-bottom: 16px;
	position: relative;
}

.sign-in-button {
	position: relative;
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	height: 36px;
	width: 50%;
	color: white;
	background: color($colors,primary);
	border: 1px solid black;
	box-shadow: 2px 2px 2px black;
	vertical-align: center;
	text-align: center;
	padding: 4px;
}

.forgot-password {
	position: relative;
	display: block;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	height: 24px;
	width: auto;
	color: blue;
	background: white;
	vertical-align: center;
	text-align: center;
	padding: 4px;
	padding-bottom: 0;
	border-bottom: 1px solid blue;
}